li {
  list-style: none;
}

@media (min-width: 300px) {
  .container {
    padding: 10px;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 768px) {
/* стили */
}

@media (min-width: 980px) {
/* стили */
}
