body {
  font-family: 'Play', sans-serif;
}

li {
  list-style: none;
}

@media (min-width: 266px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    font-size: 15px;
  }

  ul {
    margin: 0;
    padding: 0 0 16px 0;
    border-bottom: 1px dashed #999;
  }

  li {
    text-align: center;
  }

  a {
    color: #FF5A3F;
    font-weight: 700;
  }

  p {
    margin-top: 3px;
    margin-bottom: 15px;
  }

  h2 {
    text-align: center;
    margin-bottom: 16px;
  }
}

@media (min-width: 360px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    font-size: 16px;
  }

  a {
    font-size: 17px;
  }
}

@media (min-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    font-size: 17px;
  }

  a {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    font-size: 18px;
  }

  a {
    font-size: 19px;
  }
}

@media (min-width: 980px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    font-size: 19px;
  }

  a {
    font-size: 20px;
  }
}
