@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body {
  font-family: 'Play', sans-serif;
}

li {
  list-style: none;
}

@media (min-width: 266px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    font-size: 15px;
  }


  .header-nav {
    list-style: none;
    margin: 5px 0 5px;
    padding: 5px 0 5px;
    text-align: center;
    background: white;
  }

  .header-nav li {
    display: inline-block;
  }

  .header-nav li:after {
    content: "";
    color: #606060;
    display: inline-block;
    vertical-align: top;
  }

  .header-nav li:last-child:after {
    content: none;
  }

  .header-nav a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
  }

  .header-nav a,
  .header-nav a:visited {
    color: #9d999d;
  }

  .header-nav a.active,
  .header-nav a:hover {
    color: #feb386;
  }

  .header-nav a:before,
  .header-nav a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
  }

  .header-nav a:hover:before,
  .header-nav .active:before {
    left: 0;
  }

  .header-nav a:hover:after,
  .header-nav .active:after {
    right: 0;
  }

  a {
    color: #FF5A3F;
    font-weight: 700;
    text-decoration: none;
  }

  p {
    margin-top: 3px;
    margin-bottom: 15px;
  }

  h2 {
    text-align: center;
    margin-bottom: 16px;
  }
}

@media (min-width: 360px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    font-size: 16px;
  }

  a {
    font-size: 17px;
  }
}

@media (min-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    font-size: 17px;
  }

  a {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    font-size: 18px;
  }

  a {
    font-size: 19px;
  }
}

@media (min-width: 980px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    font-size: 19px;
  }

  a {
    font-size: 20px;
  }
}
