* {
  padding: 0;
  margin: 0;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  border-top: 5px solid #d7a229;
  color: #333;
  line-height: 1.8;
  background: #ddd url("../img/bg.png");
  font-family: 'Droid Serif', serif;
}

.container {
  background-color: #fff;
  width: 1000px;
  margin: 0 auto;
}



/* ==========================================================================
   HEADER
   ========================================================================== */

.header {
  background: #44494b url("../img/bg-header.png");
  padding: 35px 30px 0 30px;
  overflow: hidden;
}

.header-logo {
  float: left;
}

.header-contacts {
  float: right;
  color: #d4d4d4;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
}

.header-contacts a {
  color: #d4d4d4;
  padding-right: 18px;
  margin-right: 15px;
  border-right: 1px solid #d4d4d4;
}

.header-contacts img {
  vertical-align: baseline;
  margin-right: 8px;
}

.header-social {
  clear: right;
  float: right;
}

.header-social img {
  margin-left: 5px;
}

.header-navigation {
  float: left;
  clear: both;
  width: 100%;

  font-size: 12px;
  font-weight: 700;

  border-radius: 3px 3px 0 0;
  border-top: 1px solid #494d4e;
  border-left: 1px solid #494d4e;
  border-right: 1px solid #494d4e;

  background: linear-gradient(#404446 0%, #383c3d 100%);
}

.header-navigation ul {
  list-style: none;
}

.header-navigation ul li {
  float: left;
  border-left: 1px solid #494e50;
  border-right: 1px solid #2a2d2f;
  position: relative;
  top: -1px;
}

.header-navigation ul li:first-child {
  border-left: none;
}

.header-navigation ul li:last-child {
  border-right: none;
}

.header-navigation ul li a {
  padding: 14px 18px;
  padding-bottom: 10px;
  border-bottom: 4px solid #383c3e;
  display: block;
  color: #fff;
  text-shadow: 1px -1px 1px #000;
}

.header-navigation ul li a:hover {
  border-top: 1px solid #454a4c;
  border-bottom: 4px solid #d7a229;
  text-decoration: none;
  box-shadow: inset 0 -4px 15px 0 rgba(0, 0, 0, .3);
}
